.bingo-row {
  display: flex;
  justify-content: center;
}

.bingo-val {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.bingo-card {
  margin-bottom: 100px;
}

.label-name {
  width: 200px;
}

label {
  display: flex;
  margin-top: 10px;
}

button {
  width: 200px;
  margin-top: 10px;
}

.bingo-header {
  font-size: 30px;
  margin-bottom: 20px;
}

@media print {
  form {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
