body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  padding: 100px;
}

.bingo-row {
  display: flex;
  justify-content: center;
}

.bingo-val {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-card {
  margin-top: 100px;
}

.bingo-form {
  display: flex;
  flex-direction: column;
}

@media print {
  form {
    display: none;
  }
}
